@charset "utf-8";

/*=============================================================
// MIXINS
// By Carlos Andres Torres
=============================================================*/

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin box-shadow($args) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin appearance($values) {
    -webkit-appearance: $values;
    -moz-appearance: $values;
    appearance: $values;
}


/*** FLEX HELPERS ***/

@mixin flex-dislay {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
}

@mixin justify-content($values) {
    -webkit-box-justify-content: $values;
    -moz-box-justify-content: $values;
    -webkit-justify-content: $values;
    -ms-justify-content: $values;
    justify-content: $values;
}

@mixin align-items($values) {
    -webkit-box-align-items: $values;
    -moz-box-align-items: $values;
    -webkit-align-items: $values;
    -ms-align-items: $values;
    align-items: $values;
}

@mixin align-content($values) {
    -webkit-box-align-content: $values;
    -moz-box-align-content: $values;
    -webkit-align-content: $values;
    -ms-align-content: $values;
    align-content: $values;
}

@mixin flex-wrap($values) {
    -webkit-box-flex-wrap: $values;
    -moz-box-flex-wrap: $values;
    -webkit-flex-wrap: $values;
    -ms-flex-wrap: $values;
    flex-wrap: $values;
}

@mixin flex-items($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-basis($values) {
    -webkit-flex-basis: $values;
    flex-basis: $values;
    -ms-flex: $values;
}

@mixin align-self($values) {
    -webkit-align-self: $values;
    -ms-flex-item-align: $values;
    align-self: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}


/*** MEDIA QUERIES DESKTOP FIRST ***/

@mixin screen-small {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin screen-small-land {
    @media only screen and (max-width: 767px) and (orientation: landscape) {
        @content;
    }
}

@mixin screen-mediun {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin screen-medium-port {
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        @content;
    }
}

@mixin screen-medium-land {
    @media only screen and (min-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        @content;
    }
}


/*** MEDIA QUERIES MIXIN MOBILE FIRST ***/

@mixin breakpoint($point, $value: 0) {
    @if $point==mobile {
        @media (min-width: 320px) {
            @content;
        }
    }
    @else if $point==mobile-horizontal {
        @media (min-width: 480px) {
            @content;
        }
    }
    @else if $point==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==tablet-horizontal {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $point==desktop {
        @media (min-width: 1280px) {
            @content;
        }
    }
    @else if $point==desktop-wide {
        @media (min-width: 1500px) {
            @content;
        }
    }
    @else {
        @media ($point: $value) {
            @content;
        }
    }
}

@mixin between-breakpoints($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// -------------------------------------------------------------
//  Mixin para generar prefijos en la regla keyframes.
//  Basado en mixin de Josh Broton. Modificado por Andrés Rodríguez
//  Modo de uso (Sass):
//    @include keyframes (animacion, ms webkit spec) {
//			0%   { left: 100px; }
//			100% { left: 200px; }
//		}
//  Resultado (CSS):
//    @-ms-keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
//		@-webkit-keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
//		@keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
// -------------------------------------------------------------
@mixin keyframes($animationName, $prefixes) {
    @each $prefix in $prefixes {
        @if $prefix==webkit {
            @-webkit-keyframes #{$animationName} {
                @content;
            }
        }
        @if $prefix==moz {
            @-moz-keyframes #{$animationName} {
                @content;
            }
        }
        @if $prefix==ms {
            @-ms-keyframes #{$animationName} {
                @content;
            }
        }
        @if $prefix==o {
            @-o-keyframes #{$animationName} {
                @content;
            }
        }
        @if $prefix==spec {
            @keyframes #{$animationName} {
                @content;
            }
        }
    }
}