@charset "utf-8";

/*================ Fonts ================*/

$font-global: 'Roboto',
sans-serif;

/*================ Colors ================*/

$color-black: #000000;
$color-white: #fff;
$color-dark-blue: #011a2f;
$color-blue: #03b4e4;