@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: $font-global;
    padding-top: 66px;
    &.home {
        .site-main {
            @include breakpoint(tablet) {
                padding: 80px 0;
            }
        }
    }
    .site-main {
        padding: 0 15px;
        @include breakpoint(tablet) {
            padding: 20px 0;
        }
    }
}

.home-actions {
    padding: 0;
    margin: 0 auto;
    list-style: outside none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(tablet-horizontal) {
        max-width: 60%;
    }
    br {
        display: none;
    }
    li {
        margin: 15px 0;
        @include breakpoint(tablet) {
            margin: 0 20px;
        }
        a {
            border-radius: 10px;
            color: $color-white;
            display: block;
            font-weight: 700;
            position: relative;
            overflow: hidden;
            @include transition(all .6s ease-in-out);
            &:hover {
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .8);
            }
            span {
                background-color: rgba($color-black, .5);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 15px 0;
                text-align: center;
                text-transform: uppercase;
            }
        }
        img {
            display: block;
            width: 100%;
            @include breakpoint(tablet) {
                max-width: 300px;
            }
        }
    }
}

.featured-list {
    @include breakpoint(tablet-horizontal) {
        max-width: 65%;
    }
    &--title {
        font-size: 1.15rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 2px 8px rgba($color-black, 0.1);
    margin-bottom: 15px;
    .card-body {
        padding: 0;
    }
    .card-title {
        padding: 10px 15px;
        font-weight: 700;
        font-size: 15px;
        height: 56px;
        text-align: center;
    }
    .score {
        background: $color-blue;
        color: $color-white;
        font-size: 14px;
        line-height: 1;
        padding: 4px;
        position: absolute;
        right: 0;
        top: 0;
        svg {
            color: $color-white;
            height: 14px;
        }
    }
    .view-more {
        background-color: $color-dark-blue;
        border-radius: 0;
        color: $color-white;
        font-size: 14px;
        display: block;
        text-decoration: none;
        @include transition(all .2s ease-in-out);
        &:hover {
            color: $color-blue;
        }
    }
}

.all-movies {
    background-color: $color-dark-blue;
    border-radius: 0;
    color: $color-white;
    display: block;
    margin: 15px 0;
    font-weight: 700;
    padding: 12px 0;
    text-transform: uppercase;
    text-align: center;
    @include transition(all .2s ease-in-out);
    @include breakpoint(tablet) {
        margin: 30px 0 20px;
        padding: 20px 0;
    }
    &:hover {
        color: $color-blue;
    }
}

.maquinando-list {
    display: none;
}

.view-detail {
    @include breakpoint(tablet-horizontal) {
        max-width: 60%;
    }
    .media {
        flex-wrap: wrap;
        &-left {
            border: 1px solid #e3e3e3;
            padding: 8px;
        }
        &-object {
            display: block;
            max-width: 320px;
            border: 1px solid #e3e3e3;
            width: 100%;
        }
        &-body {
            margin: 15px 0;
            @include breakpoint(tablet) {
                margin: 0;
                padding-left: 15px;
            }
            .media-heading {
                font-size: 20px;
                font-weight: 700;
            }
            .media-content {
                font-size: 14px;
                line-height: 1.2;
            }
            .score,
            .characters {
                margin-bottom: 10px;
                span {
                    font-weight: 700;
                    font-size: 14px;
                    &.number {
                        font-weight: 400;
                        svg {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
            }
            .characters {
                &--actor {
                    background-color: $color-dark-blue;
                    border-radius: 4px;
                    color: $color-white;
                    display: inline-block;
                    margin: 4px;
                    text-decoration: none;
                    font-size: 13px;
                    padding: 3px 10px;
                    @include transition(all .2s ease-in-out);
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }
    }
}