/* Header */

header.header {
    background: $color-dark-blue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .navbar-brand {
        color: $color-white;
        font-weight: 700;
        line-height: 1.2;
        @include transition(all .2s ease-in-out);
        &:hover {
            color: $color-blue;
        }
        small {
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .navbar-collapse {
        .menu-item {
            &.current-menu-item {
                a {
                    color: $color-blue;
                }
            }
            a {
                color: $color-white;
                font-weight: 700;
                font-size: 14px;
                padding: 10px;
                margin: 0 5px;
                text-decoration: none;
                text-transform: uppercase;
                @include transition(all .2s ease-in-out);
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }
}