@charset "UTF-8";

/*============================================================================
  Nutriendo y Creciendo | Admin
==============================================================================*/

@import 'utils/variables';
@import 'utils/mixins';

/*================ Admin ================*/

.custom_metabox {
    width: 100%;
    float: left;
    padding: 10px 30px;
    @include box-sizing(border-box);
    .custom_metabox_field {
        border-bottom: 1px solid #f3f3f3;
        overflow: hidden;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .custom_desc {
        width: 44.5%;
        float: left;
        label {
            font-size: 13px;
            font-weight: 500;
            color: #222222;
        }
        p {
            margin: 5px 0 0;
            color: #939393;
            font-size: 12px;
        }
    }
    .custom_field {
        float: right;
        position: relative;
        width: 51.8%;
        &__button {
            display: flex;
            flex-wrap: wrap;
            select {
                max-width: 85%;
            }
            button {
                background: none;
                border: none;
                color: #72777c;
                margin-left: 10px;
            }
        }
        .image-preview-small {
            border: 1px solid #f3f3f3;
            height: 65px;
            max-width: 106px;
            padding: 5px;
            position: absolute;
            right: 0;
            top: -15px;
        }
        input[type=text],
        select {
            @include box-sizing(border-box);
            box-shadow: none !important;
            background: #f4f2f2 !important;
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            color: #333333;
            font-size: 13px;
            margin: 0;
            height: 34px;
            line-height: 32px;
            padding-left: 0.75em;
            width: 100%;
            &.field-small {
                display: inline-block;
                vertical-align: top;
                width: 140px;
            }
            &.multiple {
                height: 105px;
            }
        }
        input[type=number] {
            max-width: 60px;
        }
        textarea {
            background: #f4f2f2 !important;
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            box-shadow: none !important;
        }
    }
}

.list_movies {
    flex: 1;
    margin: 20px 0 0;
    &--row {
        border: 1px solid rgba(0, 0, 0, 0.05) !important;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        .title {
            font-weight: bold;
        }
    }
    &--character {
        margin: 12px 0 10px;
        input {
            max-width: 235px;
        }
    }
    &--delete {
        color: #72777c;
        border: none;
        position: absolute;
        right: 5px;
        text-decoration: none;
        transition: all .2s linear;
        top: 10px;
        &:hover,
        &:focus {
            box-shadow: none;
            color: #a00;
        }
    }
}